*.user
*.*.user
*.pb.*
*.autosave
*.*.autosave
**/build-*/*
/.vs
/3dparty
*.VC.opendb
*.VC.db
*.sln
*.vcxproj
*.vcxproj.filters
/Debug
protobuf.bat
/x64
/GeneratedFiles
src/security/main.cpp
/msvc
src/main.cpp
/qt
